{% extends '::base.html.twig' %}

{% block body %}
    <ul>
        {% for post in pager.getResults() %}
            <li class="main-list-item segment">
                <div class="row">
                    <div class="col-md-4">
                        {% if post.image %}
                            {% media post.image, 'reference' %}
                        {% else %}
                            <img src="{{ asset('images/post_default.jpg') }}" />
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <time>{{ post.publicationDateStart | format_date }} | by {{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }}</time>
                        <h2>{{ post.title }}</h2>
                        <div class="intro">
                            {{ post.abstract }}
                        </div>
                    </div>
                </div>
                <div class="row meta-wrapper">
                    <div class="col-md-4 meta">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>{{ post.commentsCount }}
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>2500
                    </div>
                    <div class="col-md-8">
                        <div class="read-more">
                            <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">Read more →</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        {% for tag in post.tags %}
                            <a href="{{ url('sonata_news_tag', { 'tag': tag.slug } ) }}">{{ tag.name }}</a>{% if not loop.last %},{% endif %}
                        {% endfor %}
                    </div>
                </div>
            </li>
        {% else %}
            {{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}
        {% endfor %}
    </ul>
    <div class="scrollPagination">
        <ul class="pagination">
            {% for page in pager.getLinks(100) %}
                {% if page == pager.page %}
                    <li class="active"><a href="{{ url(route, route_parameters|merge({'page': page})) }}">{{ page }}</a></li>
                {% else %}
                    <li><a href="{{ url(route, route_parameters|merge({'page': page})) }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
