<div>
    <div>
        <h3>{{ 'title_leave_comment'|trans({}, 'SonataNewsBundle') }}</h3>
    </div>
    <div>
        <form action="{{ url('sonata_news_add_comment', {'id': post_id}) }}" method="POST" class=""
              role="form">
            <div class="form-inline">
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.message) }}
                {{ form_widget(form.message) }}
            </div>
            {{ form_rest(form) }}
            <div class="form-actions">
                <button type="submit"
                        class="btn btn-primary">{{ 'btn_add_comment'|trans({}, 'SonataNewsBundle') }}</button>
            </div>
        </form>
    </div>
</div>