<div class="sonata-blog-comment-container">
    <div class="comment-header">{{ 'title_comments'|trans({}, 'SonataNewsBundle') }}</div>

    <ul class="comments">
        {% for comment in pager.results %}
            <li>
                <div class="default-avatar">
                    <i class="fa fa-user"></i>
                </div>
                <div>
                    <div class="comment-name">
                        {{ comment.name }}
                    </div>
                    <div class="sonata-blog-comment-message">
                        {{ comment.message }}
                    </div>
                    <time class="meta" datetime="{{ comment.createdAt|date('U') }}">{{ comment.createdAt | ago }}</time>
                </div>
            </li>
        {% else %}
            <li>{{ 'no_comments_available'|trans({}, 'SonataNewsBundle') }}</li>11
        {% endfor %}
    </ul>
</div>
