{% extends '::base.html.twig' %}

{% block sonata_page_breadcrumb %}
    <div class="row-fluid clearfix">
        {{ sonata_block_render_event('breadcrumb', { 'context': 'news_post', 'post': post, 'current_uri': app.request.requestUri }) }}
    </div>
{% endblock %}

{% block body %}
    <article class="segment">
        <header>
            <h1>{{ post.title }}</h1>
            <div class="meta">
                <time datetime="{{ post.publicationDateStart|date('U') }}">{{ post.publicationDateStart | format_date }}</time>
                by <span>{{ post.author }}</span>
            </div>
        </header>

        <div class="post-content">
            {{ post.content|raw }}
        </div>

        <div class="sonata-blog-post-information">
            <div class="sonata-blog-post-tag-container">
                <div class="sonata-blog-post-tag-title">
                    {% if post.tags|length > 1 %}
                        <i class="icon-tags"></i>
                    {% else %}
                        <i class="icon-tag"></i>
                    {% endif %}
                    {{ 'published_under'|transchoice(post.tags|length, {}, 'SonataNewsBundle') }}
                </div>
                <div class="sonata-blog-post-tag-list">
                    {% for tag in post.tags %}
                        <a href="{{ url('sonata_news_tag', { 'tag': tag.slug } ) }}">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

    </article>

    {% if post.author %}
        <section class="segment author">
            <div class="row">
                <div class="col-md-3">
                    {% media post.author.image, 'reference' with {'class': 'img-responsive img-circle'} %}
                </div>
                <div class="col-md-9">
                    <h3>{% if(post.author.firstname) %}{{ post.author.fullname }}{% else %}{{ post.author.username }}{% endif %}</h3>
                    {% if(post.author.biography) %}
                        <p>
                            {{ post.author.biography }}
                        </p>
                    {% endif %}
                    {% include '@ApplicationSonataNews/block/social.html.twig' with {'user': post.author} %}
                </div>
            </div>
        </section>
    {% endif %}

    <section class="segment comments">

        {% if post.iscommentable %}
            {% render(controller('SonataNewsBundle:Post:addCommentForm', {
            'postId': post.id,
            'form': form
            })) %}
        {% else %}
            <div>
                {{ 'message_comments_are_closed'|trans({}, 'SonataNewsBundle') }}
            </div>
        {% endif %}

        {% render(controller('SonataNewsBundle:Post:comments', {'postId': post.id})) %}
    </section>
{% endblock %}
