<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Captain's blog!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>
            <link href='//fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css' />
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="top-container">
            <div class="container">
                <div class="row top-row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <ul>
                            <li class="active"><a href="#">en</a></li>
                            <li><a href="#">ru</a></li>
                            <li class="active right-button"><a href="#">Log in <i class="fa fa-sign-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default" data-spy="affix" data-offset-top="33">
            <div class="search-wrapper hidden">
                <div class="search-help-icon"><i class="fa fa-search"></i></div>
                <div class="search-input"><form><input placeholder="Which article are you looking for?" type="text"/></form></div>
                <div class="search-help-icon search-close"><i class="fa fa-times"></i></div>
            </div>
            <div class="container-fluid main-menu">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><img src="/images/logo.png"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li>
                            <a id="navbarDrop1" aria-haspopup="true" data-toggle="dropdown" aria-expanded="true" href="#">
                                Contact<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDrop1">
                                <li><a href="#one">one</a></li>
                                <li><a href="#two">two</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="search-icon" href="#"><i class="fa fa-search"></i></a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
        <!-- Carousel== -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="false">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="first-slide" src="https://placekitten.com/1000/300" alt="First slide">
                </div>
                <div class="item">
                    <img class="second-slide" src="https://placekitten.com/1100/300" alt="Second slide">
                </div>
            </div>
        </div><!-- /.carousel -->
        <div class="container">
            <div class="row main">
                <div class="col-md-10">
                    {% block body %}{% endblock %}
                </div>
                <div class="col-md-2">банеры</div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <ul class="footer-menu">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Advertising</a></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 copyright">
                    Copyright &copy; {{ "now"|date("Y") }} Linux-note, All Rights Reserved.
                </div>
            </div>
            {% block javascripts %}
                <script src="{{ asset('js/javascript.js') }}"></script>
            {% endblock %}
        </div>
    </body>
</html>
