{% extends '::base.html.twig' %}

{% block body %}
    <ul>
        {% for i in 0..5 %}
        <li class="main-list-item">
            <div class="row">
                <div class="col-md-4">
                    <img src="/images/post_default.jpg"/>
                </div>
                <div class="col-md-8">
                    <time>Posted January 8, 2015 by SK</time>
                    <h2>How To Setup PostgreSQL Replication On CentOS</h2>
                    <div class="intro">Nowadays, services can’t stop, and is system’s administratos reponsability
                        keep applications, services and servers on line. Let’s make an scenario with 2
                        virtual machines using virtualbox, both running centos 6.5 64 bits, and postgresql 9.3
                        for a short tuto […]
                    </div>
                </div>
            </div>
            <div class="row meta-wrapper">
                <div class="col-md-4 meta">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>271
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>2500
                </div>
                <div class="col-md-8">
                    <div class="read-more">
                        <a href="#">Read more →</a>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}