@main-color: #DD4814;
@main-color-hover: #EB5825;
@color-hover: #FFF;
@dark-grey: #373737;
@light-grey: #696969;
@lightest-grey: #898888;
@background-grey: #e0e0e0;
@title-color: #212121;
@text-color: #343434;
@input-bg-color: #f0f0f0;
@font: 'Roboto', sans-serif;
@segment-border-color: #B4B4B4;

@segment-margin-size: 25px;

.without-borders {
    border: none;
    border-radius: 0;
}

body {
    background: #f4f4f4;
    font-family: @font;
}

h1 {
  color: @title-color;
  font-size: 4rem;
  font-weight: bold;
}

.btn {
    .without-borders;
}

.btn-primary {
    background: @main-color none;
    padding: 7px 30px;
    &:hover, &:active:hover, &:active, &:focus {
      background: @main-color-hover;
    }
}

.form-control{
    border-radius: 0;
}

.navbar-default {
  .without-borders;
  background: @main-color;
  position: absolute;
  top: 33px;
  z-index: 2;
  width: 100%;

  &.affix {
    position: fixed;
    top:0;
    opacity: 0.8;
  }

  .navbar-nav>li a {
    color: #FFFFFF;
  }

  .navbar-nav>li .dropdown-menu a {
    color: @dark-grey;
  }

  .navbar-nav > .open > a, .navbar-nav > .active > a  {
    background: @main-color-hover;
    box-shadow: none;
  }

  .navbar-nav {
    .active > a,
    .active > a:hover,
    li > a:hover,
    li > a:focus,
    .open > a,
    .open > a:focus,
    .open > a:hover {
      color: #FFFFFF;
      background-color: @main-color-hover;
    }

    .caret {
      margin-left: 5px;
    }

    li > .dropdown-menu {
      margin-top: 15px;
      border: 0;
      border-radius: 0;
      &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px;
        border-color: transparent transparent #FFF;
        position: absolute;
        top: -10px;
        left: 10px;
      }
      li {
        a:focus, a:hover {
          background: @main-color-hover;
        }
      }
    }
  }
}

.navbar-brand, .navbar-nav > li > a {
    text-shadow: none;
}

.navbar-nav > li > a {
    line-height: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-brand {
    padding: 10px 25px;
    height: 50px;
}

.navbar-brand > img {
  height: 35px;
}

li.main-list-item {
    list-style: none;
    margin-bottom: @segment-margin-size;
    time {
        color: #9D9D9D;
    }
    h2 {
      margin-top: 10px;
      margin-bottom: 25px;
      font-size: 21pt;
    }
    img {
      width: 192px;
      height: 192px;
    }
}

.segment {
  background: #FFFFFF;
  border: 1px solid @segment-border-color;
  padding: 15px;
}

.meta-wrapper {
    margin-top: 20px;
}

.meta {
    color: #BDC3C7;
    .glyphicon{
        margin-left: 10px;
        margin-right: 10px;
        &:first-child{
            margin-right: 10px;
            margin-left: 0;
        }
    }
}

.read-more a{
    color: @main-color;
}

.intro {
    color: #848484;
}

.search-form {
    text-align: center;
    margin: 25px 0;
}

.pagination {
  border-bottom: 1px solid #ababab;
  border-radius: 0;
  display: table;
  width: 100%;
  margin: 0 0 7px 0;
  padding-bottom: 7px;
  .active {
    a, span, a:hover, span:hover, a:focus, span:focus {
      background-color: @main-color;
    }
  }
  li {
    display: table-cell;
    text-align: center;
    padding: 0 10px;
    position: relative;
    &.active:first-child:after {
      margin-left: -10px;
    }
    a, span {
      background: none;
      border: none;
      padding: 1px 7px;
      margin: 0 0 5px 0;
      width: 100%;
      color: @dark-grey;
    }
    &:first-child {
      padding-left: 0;
    }
    &:first-child, &:last-child {
      a, span {
        border-radius: 0;
      }
    }
  }
}

.scrollPagination {
  overflow-x: auto;
  .mCSB_horizontal.mCSB_inside > .mCSB_container {
    margin-bottom: 0;
  }
  .mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
    background: transparent;
  }
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    border-radius: 0;
  }
}

.pagination > li > a:hover {
  background-color: @main-color-hover;
  color: @color-hover;
}


.pagination > li.active:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent @main-color transparent;
    position: absolute;
    bottom: -2px;
    left: 50%;
    margin-left: -5px;
}

ul, ol {
  padding-left: 0;
  margin-bottom: 0;
}

.footer-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  li {
    list-style: none;
    a {
      color: @light-grey;
    }
  }
}

.copyright {
  padding-top: 15px;
  padding-bottom: 20px;
}

.top-container {
  position: absolute;
  top:0;
  z-index:2;
  width: 100%;
}

.top-row div {
  padding: 5px 0;
  font-size: 12pt;
  font-weight: bold;
  a {
    color: @lightest-grey;
  }
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      padding: 0;
      &.active a{
        color: @main-color;
      }
    }
  }


  .right-button {
    padding-left: 20px;
  }
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  min-width: 100%;
  max-height: 300px;
  min-height: 300px;
}

.search-icon, .search-help-icon {
  font-size: 2.5rem;
}

.search-wrapper {
  height: 55px;
  display: flex;
  align-items: center;
  .search-input {
    flex-grow: 1;
    input {
      width: 100%;
      background: transparent;
      border: none;
      border-bottom: 5px solid #FFF;
      color: #fff;
      font-size: 2rem;
      &:focus {
        outline: none;
      }
    }
  }
  .search-help-icon {
    color: #FFF;
    padding: 5px 15px;
  }
}

.form-control {
  background: @input-bg-color;
}

.main {
  padding-top: 50px;
}

.post-content {
  margin-top: 20px;
  color: @text-color;
}

.comments {
  h3 {
    font-weight: bold;
    margin-top: 0;
  }
  .comment-header {
    font-weight: bold;
    font-size: 1.6rem;
    border-bottom: 1px solid @segment-border-color;
    margin-top: @segment-margin-size;
  }
  .comment-name {
    font-weight: bold;
    font-size: 1.8rem;
    padding-bottom: 10px;
  }
  ul > li {
    display: flex;
    border-bottom: 1px solid @segment-border-color;
    padding: 10px;
    time {
      font-size: 1.2rem;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  ul > li > div:first-child {
    flex-shrink: 0;
  }
  ul > li > div:nth-child(2) {
    flex-grow: 1;
    padding-left: 10px;
  }
  input, textarea {
    font-size: 1.6rem;
  }
  margin-top: @segment-margin-size;
  .form-inline {
    margin-bottom: @segment-margin-size;
    display: flex;
    .form-group {
      flex-grow: 1;
      input {
        width: 100%;
      }
      &:first-child {
        padding-right: @segment-margin-size;
      }
    }
  }
}

.author {
  margin-top: @segment-margin-size;
  img {
    width: 150px;
    height: 150px;
    border: 6px solid @main-color;
  }
  p, h3 {
    color: @light-grey;
  }
  p {
    font-style: italic;
  }
  h3 {
    font-weight: bold;
    margin-top: 0;
  }

}

.social {
  list-style: none;
  font-size: 2.5rem;
  li {
    display: inline;
    a {
      color: @lightest-grey;
      text-decoration: none;
      &:hover {
        color: @dark-grey;
      }
    }
  }
}

.default-avatar{
  background: @background-grey;
  font-size: 4rem;
  width: 50px;
  height: 50px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}