<ul class="social">
    {% if(user.twitterUid) %}
        <li><a target="_blank" href="https://twitter.com/{{ user.twitterUid }}">
                <i class="fa fa-twitter-square"></i>
            </a>
        </li>
    {% endif %}
    {% if(user.facebookUid) %}
        <li><a target="_blank" href="https://www.facebook.com/{{ user.facebookUid }}">
                <i class="fa fa-facebook-square"></i>
            </a>
        </li>
    {% endif %}
    {% if(user.email) %}
        <li><a href="mailto:{{ user.email }}">
                <i class="fa fa-envelope-square"></i>
            </a>
        </li>
    {% endif %}
    {% if(user.linkedinUid) %}
        <li><a target="_blank" href="https://www.linkedin.com/profile/view?id={{ user.linkedinUid }}">
                <i class="fa fa-linkedin-square"></i>
            </a>
        </li>
    {% endif %}
</ul>