{% extends '::base.html.twig' %}

{% block body %}
    {% if(hash) %}
        {{ hash }}
    {% endif %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit"/>
    {{ form_end(form) }}
{% endblock %}